* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.musicsongs {
    display: none;
}
.header {
    background: url("../songs-img/screen-8.jpg") no-repeat center / cover;
    color: #fff;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 2;
}

.header-content {
    margin: 10px 0;
}
.music-songs__heading {
    display: flex;
    margin-bottom: 6px;
}

.heading-icon{
    margin-top: 8px;
}

.music-songs__text {
    flex: 1;
    margin-left: 10px;
    font-size: 20px;
}

.fas {
}

.music-songs__subtext {
    display: flex;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.9);
}

.music-songs__subtext i {
    margin-top: 5px;
}

.music-songs__subtext-heading {
    margin-right: 5px;
}


.music-songs__search {
    position: relative;
}

.music-songs__search .fa-search {
    position: absolute;
    font-size: 20px;
    padding: 0 10px;
    top: 20%;
}

.music-songs__input {
    width: 100%;
    outline: none;
    border: none;
    font-size: 18px;
    padding-top: 8px;
    padding-bottom: 4px;
    padding-left: 35px;
    background-color: rgba(151, 52, 52, 0.4);
    border-radius: 16px;

}
.music-songs__contents {
    margin-top: 150px;
    border-top: 1px solid #fff;
    border-radius: 8px;
}
.music-songs__subtitle {
    display: flex;
    width: 100%;
    overflow: auto;
    padding-left: 20px;
}

.music-songs__subtitle::-webkit-scrollbar {
    display: none;
}

.music-songs__artist {
    width: 20%;
    margin-right: 10px;
    position: relative;
    margin-bottom: 20px;
}

.music-songs__artist-img {
    width: 60px;
    border-radius: 50%;

}



.music-songs__artist-random {
    position: absolute;
    padding: 4px;
    bottom: -5px;
    left: 30%;
    z-index: 1;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.5);
    background-color: #fff;
}

.music-songs__randomBtn {
    font-size: 20px;
    width: 60%;
    color: #fff;
    align-items: center;
    text-align: center;
    margin: 10px auto;
    padding: 10px 20px;
    border-radius: 24px;
    background-color: #CC0099;
}

.music-songs__list {
    margin: 30px 20px 10px 20px;
}
.music-songs__list-header {
    display: flex;
    font-size: 20px;
    font-weight: 600;
   
    justify-content: space-between;
}

.music-song__element {
    display: flex;
    margin: 10px 0;
    width: 100%;
}

.music-song__element-firt {
    display: flex;
    flex: 1;
    font-size: 20px;
}

.song-element__tittle {
    padding-top: 4px;
}
.song-element__sub {
    padding: 6px 0;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.7);
}
.song-element__sub i {
    color: #CC0099;
}

.song-sticker {
    font-size: 12px;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.5);
    height: 20px;
    padding: 0 2px;
    line-height: 18px;
    border-radius: 4px;
    margin: 0 4px;
}
.music-song__element-second {
    display: flex;
    padding-top: 4px;
    color: rgba(0, 0, 0, 0.7);
}

.music-song__element-second i {
    padding-top: 2px;
    margin-left: 4px;
}
.song-element__img {
    width: 60px;
    height: 60px;
    border-radius: 6px;
    margin-right: 10px;
}

.song-element__sub {
    display: flex;
}